.contato {
    background-color: #05031B;
    color: white;
    display: flex;
    flex-direction: column;
}

h5 {
    font-size: 20px;
    text-align: left;
}

.listas-contato {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.lista {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.item-contato {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}

.item-contato img {
    width: 30px;
    height: 30px;
}

.item-contato p {
    margin: 0;
}

.item-contato a {
    color: white;
    font-size: 20px;
}

@media screen and (max-width:550px) {
    .listas-contato {
        flex-direction: column;
        align-items: flex-start;
    }
    .item-contato p, .item-contato a {
        margin: 0;
        font-size: 15px;
    }

    h5 {
        font-size: 25px;
    }
}


@media screen and (max-width:768px) {
    .listas-contato {
        flex-direction: column;
        align-items: center;
        
    }
    .item-contato p, .item-contato a {
        margin: 0;
        font-size: 20px;
    }

    h5 {
        font-size: 30px;
    }
}