.capa {
    background-image: url(../../../public/assets/imagens/capa.png);
    background-size: cover;
    display: flex;
    height: 80%;
    align-items: center;
    padding-left: 20%;
    padding-top: 10%;
    padding-bottom: 10%;

}
.txt {
    font-family: 'Anybody', cursive;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    color: white;
    max-width: 450px;
    height: 80%;
}

.txt p {
    font-size: 36px;
    text-align: left;
}

h1 {
    margin: 0;
    text-align: left;
    font-size: 60px;
}

@media screen and (max-width:550px){
    h1 {
        font-size: 30px;
    }
    .txt p {
        font-size: 15px;
    }

    .txt {
        max-width: 300px;
    }
    .capa {
        padding-left: 30px;
    }
}

@media screen and (max-width:768px){
    h1 {
        font-size: 40px;
    }
    .txt p {
        font-size: 20px;
    }

    .txt {
        max-width: 300px;
    }
    .capa {
        padding-left: 30px;
    }
}